type xiaomiparts_app, domain;

app_domain(xiaomiparts_app)

allow xiaomiparts_app {
    app_api_service
    activity_service
    activity_task_service
    audioserver_service
    autofill_service
    gpu_service
    mediaextractor_service
    mediametrics_service
    mediaserver_service
    media_session_service
    surfaceflinger_service
}:service_manager find;

allow xiaomiparts_app system_app_data_file:dir create_dir_perms;
allow xiaomiparts_app system_app_data_file:{ file lnk_file } create_file_perms;

allow xiaomiparts_app {
    cgroup
    proc_nvt_feature
    sysfs_thermal
}:{ file lnk_file } rw_file_perms;

get_prop(xiaomiparts_app, persist_lcd_prop)
set_prop(xiaomiparts_app, persist_lcd_prop)

binder_call(xiaomiparts_app, gpuservice)
